@charset "UTF-8";

/*[class*="container"] {
	background-color:#ccc;
	min-height:50px;
	margin-bottom:4px;
}

[class*="row"] {
	background-color:orange;
	min-height:40px;
	margin-bottom:4px;
}

[class*="col"] {
	background-color: green;
	height:30px;
	border:1px solid black;
}

.header {
	background-color: green;
	height:30px;
	border:1px solid black;
}*/

.page-header {
	padding-bottom: 9px;
	margin: 40px 0 20px;
	border-bottom: 1px solid #eee;
}

[class*="col"] {
	margin-bottom: 20px;
}

img {
	width: 100%;
}

/*   ----------------------------- thats all folks!!! ---------------- */
